.transitionGroup {
  position: relative;
}

.entering {
  position: absolute;
  transform: translateX(50px);
}

.entered {
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  transform: translateX(0);
}

.exiting {
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  transform: translateX(-50px);
}