@import "styles/settings/__settings";

.header {
  position: relative;

  &__back {
    position: absolute;
    top: 0;
    background-color: $color-background;
    z-index: 1;
  }

  &__featuredImage {
    min-height: 400px;
  }

  &__text {
    position: absolute;
    width: 100%;
    max-width: calc(976px + 1rem);
    margin: 0 auto;
    padding: 1.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    background-color: $color-background;
  }
}