@import "styles/settings/__settings";

.postCard {
  display: grid;
  gap: 4rem;
  background-color: $color-gray-0;
  padding: 2rem;
  border-radius: $border-radius;
  text-align: center;

  &__media {
    width: 100%;
    height: auto;
    border-radius: calc($border-radius / 2);
  }

  &__content {

    @media (min-width: 992px) {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }
  }

  &__categories {
    display: flex;
    justify-content: center;

    @media (min-width: 992px) {
      justify-content: start;
    }
  }

  &__excerpt {
    padding: 0 1rem;
    margin: 0 auto;

    @media (min-width: 992px) {
      padding: 0;
    }
  }

  &__author {
    display: flex;
    justify-content: center;

    @media (min-width: 992px) {
      justify-content: start;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    @media (min-width: 992px) {
      margin-top: 0;
      margin-left: -.2rem;
      justify-content: end;
    }
  }

  @media (min-width: 992px) {
    display: flex;
    text-align: left;
  }
}